extends layout

block content
  h1= title
  - var results = [{universityname:"VIT", departmentname: "computerscience", score:83}, {universityname:"SRM", departmentname: "electronics", score:85},{universityname:"KLU", departmentname: "Mechanical", score:90}]
  div(class="container-fluid") 
  div(class="row")
  -
  each item,index in results
    div(class='col-sm-2' onclick=`buy(${index})`) #{item.universityname} - #{item.departmentname} - #{item.score}
    script.
        function buy(i)
        {
            alert(`You purchased item ${i+1}`)
        }


